{% block extrahead %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            console.log({{data_serialized | safe}})


            var series1 = {{data_serialized | safe}}.map(function (item) {
                x = item.pk;
                y = +item.fields.param1;
                return {"x":x, "y":y}
                
            });
            var series2 = {{data_serialized | safe}}.map(function (item) {
                x = item.pk;
                y = +item.fields.param2;
                return {"x":x, "y":y}

            });
            
            var series3 = {{data_serialized | safe}}.map(function (item) {
                x = item.pk;
                y = +item.fields.param3;
                return {"x":x, "y":y}

            });
            
            var chart = new Chartist.Line('.ct-chart', {
                series: [
                    {
                        name: 'series-1',
                        data: series1
                    },
                    {
                        name: 'series-2',
                        data: series2
                    },
                    {
                        name: 'series-3',
                        data: series3
                    }
                ]
            }, {
                width: 600,
                height: 400,
                axisX: {
                    type: Chartist.FixedScaleAxis,
                    divisor: 5,
                    labelInterpolationFnc: function (value) {
                        return moment(value, 'YYYYMMDD').format('MMM D');
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Data Chart</h1>

    {% if data_list %}
        <div class="ct-chart "></div>
        <ul>

            {% for data in data_list %}
                <li>
                    {{ data.date }} {{ data.param1 }} {{ data.param2 }} {{ data.param2 }}
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no data.</p>
    {% endif %}
{% endblock %}